@import "variables.scss";

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-color: map-get($theme-colors, "primary");
  //background-image: url('../../orig.png');
}

body, html {
  background-color: map-get($theme-colors, "primary");
  height: 100%;
  margin: 0;
  background-image: url('public/orig.png');
}

.border-radius {
  border-radius: 15px;
}

.active-position {
  background: rgba(49, 93, 211, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue {
  color: blue;
}

.btn-cst {
  background-color: white;
  border-color: rgba(28, 100, 255, 0.9);
  color: rgba(28, 100, 255);
}

.btn-cst:hover {
  background-color: white;
  border-color: rgb(28, 100, 255);
  color: rgba(28, 100, 255);
  box-shadow: 0 0 7px rgba(28, 100, 255, 0.5);
}

.text-decor {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;

}

.sans-serif {
  font-family: sans-serif;
}
