$white: #ffffff;
$body-bg: #0E1621;
$theme-colors: (
        "light":      #ffffff,
        "dark":       #000000,
        "primary": #dedede,
        "secondary": #ffffff,
);
$table-hover-color: #f8f89f;